<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>



Teoria Basica Sistemas de Infromacion <a href="/teoria"> info ...</a>

Sistemas de Infromacion <a href="/sistemas"> siste ...</a>

Scrum <a href="/scrum"> Scrum ...</a>

Informacion de los desarrolladores <a href="/informacion"> acerca ...</a>
