<h1>informacion del equipo</h1>


miembro 1 <a href="/informacion/renep"> rene ...</a>

miembro 2 <a href="/informacion/danielba"> danielb ...</a>

miembro 3 <a href="/informacion/daniel"> danielo ...</a>

miembro 4 <a href="/informacion/alinel"> aline ...</a>

miembro 5 <a href="/informacion/miguela"> miguel ...</a>
